// @font-face {
//   font-family: 'Rail Alphabet';
//   src:
//     url('fonts/hinted-BritishRailDarkNormal.woff2') format('woff2'),
//     url('fonts/hinted-BritishRailDarkNormal.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Rail Alphabet';
//   src:
//     url('fonts/hinted-BritishRailLightNormal.woff2') format('woff2'),
//     url('fonts/hinted-BritishRailLightNormal.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/VTNNQRNewRailAlphabet-OffWhite.woff2') format('woff2'),
    url('fonts/VTNNQRNewRailAlphabet-OffWhite.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/ULDHCTNewRailAlphabet-OffWhiteItalic.woff2') format('woff2'),
    url('fonts/ULDHCTNewRailAlphabet-OffWhiteItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/VTNNQRNewRailAlphabet-White.woff2') format('woff2'),
    url('fonts/VTNNQRNewRailAlphabet-White.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/ULDHCTNewRailAlphabet-WhiteItalic.woff2') format('woff2'),
    url('fonts/ULDHCTNewRailAlphabet-WhiteItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/VTNNQRNewRailAlphabet-Light.woff2') format('woff2'),
    url('fonts/VTNNQRNewRailAlphabet-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/TDTBOVNewRailAlphabet-LightItalic.woff2') format('woff2'),
    url('fonts/TDTBOVNewRailAlphabet-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/VTNNQRNewRailAlphabet-Medium.woff2') format('woff2'),
    url('fonts/VTNNQRNewRailAlphabet-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/TDTBOVNewRailAlphabet-MediumItalic.woff2') format('woff2'),
    url('fonts/TDTBOVNewRailAlphabet-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/ULDHCTNewRailAlphabet-Bold.woff2') format('woff2'),
    url('fonts/ULDHCTNewRailAlphabet-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/TDTBOVNewRailAlphabet-BoldItalic.woff2') format('woff2'),
    url('fonts/TDTBOVNewRailAlphabet-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/ULDHCTNewRailAlphabet-Black.woff2') format('woff2'),
    url('fonts/ULDHCTNewRailAlphabet-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rail Alphabet 2';
  src:
    url('fonts/TDTBOVNewRailAlphabet-BlackItalic.woff2') format('woff2'),
    url('fonts/TDTBOVNewRailAlphabet-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: 'Rail Alphabet';
//   src: url('fonts/BritishRailDarkNormal.woff2') format('woff2'), url('fonts/BritishRailDarkNormal.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Rail Alphabet';
//   src: url('fonts/BritishRailLightNormal.woff2') format('woff2'), url('fonts/BritishRailLightNormal.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
